<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "VAMPA" %></title>
  <link rel="icon" type="image/png" href="<%= asset_path('favicon.png') %>">
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "VAMPA" %>">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# Modernizr is required for Zurb Foundation %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>