<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <div class="top-bar-section">
    <ul>
      <%# add navigation links to this file %>
    	<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'Work', page_path('work') %></li>
			<li><%= link_to 'About', page_path('about') %></li>
			<li><%= link_to 'Contact', page_path('contact') %></li>
      <li><%= link_to 'Blog', posts_path %></li>
      <li><%= link_to 'Admin', root_admin_url %></li>
    </ul>
  </div>
</nav>
